.recipe-detail-wrapper {
  margin: auto;
}

.recipe-detail-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 1em;
}

@media screen and (min-width: 1000px) {
  .recipe-detail-container {
    flex-direction: row;
  }
}

.recipe-detail-ingredients-header {
  display: flex;
  justify-content: space-between;
}

img {
  width: 350px;
}
.recipe-detail-steps {
  max-width: 600px;
  padding: 0;
}
.recipe-detail-steps li {
  margin: 1em;
}

.recipe-detail-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5em;
}

.recipe-detail-ingredients {
  width: 350px;
  margin-top: 1em;
  background-color: #f0f0f0;
}

.recipe-detail-ingredients-list {
  list-style: none;
  margin: 0 0 0 0.5em;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.recipe-detail-ingredients-list li {
  margin-bottom: 0.25em;
}

.recipe-detail-ingredients-name {
  font-weight: 700;
}

.recipe-detail-icon-allergen {
  width: 30px;
  height: 30px;
  margin-bottom: -0.75em;
}
.recipe-detail-allergens-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-right: 1em;
}

.recipe-detail-allergens-header {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1000px) {
  .recipe-detail-header {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
  }
  .recipe-detail-allergens-list {
    margin-top: 0;
  }
  .recipe-detail-icon-allergen {
    margin-bottom: -0.75em;
  }
}
